<div class="coin">
    <div class="coin-img">
        <img src="{{imageUrl}}">
    </div>
    <div class="coin-info">
        <h1>{{title}}</h1>
        <p><span>Price: </span>${{price}}</p>
        <p><span>Payment: </span>{{paymentMethod}}</p>
    </div>
    <a href="/item/details/{{_id}}" class="btn-details">Details</a>
</div>