@page "/"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="NestedComponentsApp.styles.css" />
</head>

<body>
    <h1>@header</h1>

    <Home Title="Home Page" />
    <Home Title="@someTitle" />
    @* <Home /> *@

    <Users Count="@users.Count" UsersList="@users"></Users>

    @* <User Name="Tom" Age="38" IsMarried="false" /> *@
    <User Data="@data" />

    <Child Title="Child component1">
        Child component random content
    </Child>

    <Child Title="Child component2">
        <div>
            <h3>Header</h3>
            <p>row 1</p>
            <p>row 2</p>
            <p>row 3</p>
            <p>row 4</p>
        </div>
    </Child>
</body>

</html>

@code {
    string header = "Blazor App";
    string someTitle = "Main Page";

    List<string> users = new List<string> { "Tom", "Bob", "Sam", "Mike" };

    Tuple<string, int, bool> data = new("Tom", 38, false);
}