<section id="deatils-page">
    <div class="wrapper">
        <div class="product-img">
            <img src="{{item.imageUrl}}">
        </div>
        <div class="product-info">
            <div class="product-text">
                <div class="product-text">
                    <h1>Name: {{item.title}}</h1>
                    <h2>Type: {{item.type}}</h2>
                    <h4>Year: {{item.year}}</h4>
                    <h4>City: {{item.city}}</h4>
                    <p>{{item.description}}</p>
                    {{#if item.hasTenants}}
                        <p>People rented this housing: {{item.tenants}}</p>
                    {{else}}
                        <p>People rented this housing: There are no tenants yet.</p>
                    {{/if}}
                </div>
            </div>
             {{#if item.hasUser}}
                <div class="product-btn">
                    {{#if item.isAuthor}}
                        <a href="/item/edit/{{item._id}}" class="edit">Edit</a>
                        <a href="/item/delete/{{item._id}}" class="remove">Delete</a>
                    {{else}}
                        {{#if item.isAvailable}}
                            {{#if item.isRented}}
                                <p class="alRentHome">You have already rent this home</p>
                            {{else}}
                                <a href="/item/rent/{{item._id}}" class="rentHome">Rent a home, available {{item.pieces}} housing</a>
                            {{/if}}
                        {{else}}
                            <p class="no-housing">No Housing Available!</p>
                        {{/if}}
                    {{/if}}
                </div>
            {{else}}
            {{/if}}
        </div>
    </div>
</section>